# Flutter/Dart/Pub
.dart_tool/
.packages
.pub-cache/
.buildlog/
.flutter-plugins
.flutter-plugins-dependencies
.generated/
pubspec.lock

# Build outputs
build/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/
*.app
*.apk
*.ipa

# CocoaPods
ios/Pods/
ios/Podfile.lock
ios/Flutter/Flutter.podspec
ios/Runner.xcworkspace/
ios/.symlinks/

# Android
android/.gradle/
android/.idea/
android/local.properties

# VS Code
.vscode/

# IntelliJ / Android Studio
*.iml
*.ipr
*.iws
.idea/

# OS-specific
.DS_Store
*.log
*.swp
*.lock
